.track-order {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    flex: .55;
    margin: 5rem auto;
}

.track-order-title {
    background-color: #eee;
    display: flex;
    padding: 1rem 3rem;
}

    .track-order-title h2 {
        color: #c03939;
        font-size: 1.3rem;
        font-weight: 300;
        margin: 0rem;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .track-order-title > p {
        margin-left: auto;
    }

.track-order-details {
    padding: 1.5rem 3rem;
    display: flex;
}

.item-rows {
    display: flex;
    flex-direction: column;
}

.spinner-grow {
    display: flex;
    margin-left: auto;
}

.track-order-map {
    width: 350px;
    flex-shrink: 0;
}